h3 {
  color: white;
}

h1 {
  color: white;
}

body {
  background-image: url("https://cdn.motor1.com/images/mgl/Q6zKY/s1/nio-sells-electric-cars-but-its-vision-is-the-future-of-mobility.jpg");
  background-color: #00000;
  background-size: cover;
}